tools
chips_programmed.xlsx
projects/00

!/projects/01
/projects/01/*
!/projects/01/*.hdl
!/projects/01/*.png

!/projects/02
/projects/02/*
!/projects/02/*.hdl
!/projects/02/*.png

!/projects/03/a
/projects/03/a/*
!/projects/03/a/*.hdl
!/projects/03/a/*.png
!/projects/03/b
/projects/03/b/*
!/projects/03/b/*.hdl
!/projects/03/b/*.png

!/projects/04/fill
/projects/04/fill/*
!/projects/04/fill/*.asm

!/projects/04/mult
/projects/04/mult/*
!/projects/04/mult/*.asm

!/projects/05/
/projects/05/*
!/projects/05/*.hack
!/projects/05/*.hdl

projects/06/hackAssembler/.vs
projects/06/hackAssembler/*.sln
projects/06/hackAssembler/x64
projects/06/hackAssembler/*.vcxproj
projects/06/hackAssembler/*.filters
projects/06/hackAssembler/*.user

projects/07_and_08/MemoryAccess
projects/07_and_08/StackArithmetic
projects/07_and_08/FunctionCalls
projects/07_and_08/ProgramFlow
pop_local.asm

projects/08
projects/09
projects/10
projects/11
projects/12
projects/13
demo